.pop-over__yrke {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 6rem;
}
.pop-over__navn {
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 9rem;
}
.pop-over-container {
  display: inline-flex;
}
.varsel-popover {
  max-width: 20rem;
}
