.ovre-sidebytter {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .ovre-sidebytter {
    margin-top: 0;
  }
}
.nedre-sidebytter {
  position: relative;
}
.nedre-sidebytter .sidebytter {
  position: absolute;
  left: 0;
  top: 1.5rem;
}
@media (min-width: 768px) {
  .nedre-sidebytter .sidebytter {
    left: initial;
    right: 0;
  }
}
.sidebytter__chevron-ikke-vises {
  overflow: hidden;
}
.sidebytter__chevron-vises {
  overflow: visible;
}
.sidebytter__chevron {
  background-color: white;
  border: none;
  color: var(--a-gray-800);
}
.sidebytter__chevron:focus {
  background-color: white;
  outline: none;
  box-shadow: 0 0 0 3px var(--a-blue-800);
}
