.informasjonsboks {
  border: 2px solid var(--a-blue-200);
  padding: 1rem 1rem 1.5rem;
  max-width: 20rem;
  margin: 0 auto;
}
.informasjonsboks__innhold {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .informasjonsboks__innhold {
    padding-left: 1.5rem;
  }
}
.informasjonsboks__ikon {
  margin-right: 0.7rem;
}
.informasjonsboks__tekst {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.informasjonsboks__lenke {
  margin-top: 0.5rem;
}
