.mine-ansatte .tabell__button:hover {
  background-color: var(--a-blue-100);
}
.mine-ansatte .tabell thead th button {
  letter-spacing: normal;
  padding: calc(1rem - 1px) calc(0.8rem - 1px) calc(1rem - 1px) calc(1rem - 1px);
}
.mine-ansatte .tabell thead th button::after {
  padding-left: 0.1rem;
}
