@import '~nav-frontend-core/less/_variabler';

.progressbar {
  display: flex;
  align-self: center;
  background-color: white;
  border-radius: 8px;
  width: 15rem;
  height: 0.5rem;
  border: 2px solid @navBlaLighten60;
  margin: 4rem;

  &__fyll {
    background-color: #0074df;
    height: 100%;
    border-radius: 6px;

}

}