@import '~nav-frontend-core/less/_variabler';



.progressbar {
  display: flex;
  align-self: center;
  background-color: @navBlaLighten80;
  border-radius: 4px;
  width: 30rem;
  height: 0.5rem;

  &__container {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin: 2rem;
  }

  &__fyll {
    background-color: @navBla;
    height: 100%;
    border-radius:2px;
  }

  &__prosent {
    display: flex;
    align-self: flex-end;
  }

}