@media (min-width: 992px) {
  .togglecontainer {
    display: flex;
  }
}
.togglecontainer .toggleGruppe {
  width: fit-content;
  margin-bottom: 1rem;
}
.togglecontainer .toggleGruppe .toggleKnapp {
  min-height: 4rem;
  width: 33.3%;
  white-space: normal;
}
@media (min-width: 768px) {
  .togglecontainer .toggleGruppe .toggleKnapp {
    min-height: initial;
    width: initial;
    white-space: initial;
  }
}
.togglecontainer .varselKnapp {
  width: fit-content;
}
@media (min-width: 992px) {
  .togglecontainer .varselKnapp {
    margin-left: 3rem;
  }
}
