body {
  margin: 0;
}
.bedriftsmeny__inner {
  min-height: 4rem;
}
.app {
  background-color: var(--a-gray-100);
  min-height: 100vh;
}
.app .feilmelding-altinn {
  padding: 2.5rem 1rem;
}
@media (min-width: 768px) {
  .app .feilmelding-altinn {
    max-width: 49.5rem;
    padding: 2.5rem 2rem;
    margin: 0 auto;
  }
}
.app .spinner {
  padding: 5rem 0 5rem;
  display: flex;
  justify-content: center;
}
