.sokefelt {
    position: relative;
    margin: 2rem 0 1rem 0;
    width: 19rem;
    height: 40px;

    &__felt {
        display: flex;
        align-items: center;
        margin-bottom: 0rem;
        position: relative;
    }

    &__ikon {
        position: absolute;
        top: 0rem;
        right: 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 0.5rem;
    }

    &__ikon--klikkbart {
        cursor: pointer;
    }
}
