.ingen-tilgang-innhold__ingress {
  margin-bottom: 1rem;
}
.ingen-tilgang-innhold__be-om-tilgang-boks {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 1rem;
}
.ingen-tilgang-innhold__be-om-tilgang-tekst {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}
.ingen-tilgang-info-container {
  padding: 1.5rem 0 0;
}
@media (min-width: 768px) {
  .ingen-tilgang-info-container {
    padding: 1.5rem 0 4rem;
  }
}
.ingen-tilgang-info-container .brodsmule {
  padding: 0 0 1.5rem 1rem;
}
@media (min-width: 768px) {
  .ingen-tilgang-info-container .brodsmule {
    padding: 0 0 1.5rem 2rem;
  }
}
@media (min-width: 992px) {
  .ingen-tilgang-info-container .brodsmule {
    padding: 0 0 1.5rem;
    width: 60rem;
    margin: 0 auto;
  }
}
.ingen-tilgang-info-container .ingen-tilgang {
  background-color: white;
  padding: 1rem 1rem 4rem;
}
.ingen-tilgang-info-container .ingen-tilgang .ingen-tilgang-header {
  margin: 1.5rem 0 2rem;
  text-align: center;
  color: var(--a-gray-600);
}
.ingen-tilgang-info-container .ingen-tilgang .ingen-tilgang-header__ikon {
  height: 2rem;
  margin: 0 0 0.5rem;
}
.ingen-tilgang-info-container .ingen-tilgang .ingen-tilgang-innhold__bedrifter-med-tilgang-panel {
  margin: 1.5rem 0;
}
.ingen-tilgang-info-container .ingen-tilgang .ingen-tilgang-innhold__panelinnhold {
  margin-left: 2rem;
}
.ingen-tilgang-info-container .ingen-tilgang .ingen-tilgang-innhold__lenker {
  margin-top: 2rem;
}
.ingen-tilgang-info-container .ingen-tilgang .ingen-tilgang-innhold__lenker ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 0 0;
}
.ingen-tilgang-info-container .ingen-tilgang .ingen-tilgang-innhold__lenker ul li {
  margin-bottom: 0.8rem;
}
.ingen-tilgang-info-container .ingen-tilgang .ingen-tilgang-innhold__lenker .nyfane-ikon {
  margin-left: 4px;
}
@media (min-width: 768px) {
  .ingen-tilgang-info-container .ingen-tilgang {
    padding: 2rem;
    border-radius: 4px;
    width: 30rem;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .ingen-tilgang-info-container .ingen-tilgang {
    padding: 4rem;
    width: 40rem;
  }
  .ingen-tilgang-info-container .ingen-tilgang .ingen-tilgang-header {
    margin: 0 0 2rem;
  }
  .ingen-tilgang-info-container .ingen-tilgang .ingen-tilgang-header__innhold {
    display: flex;
    width: 30rem;
    margin: 0 auto;
  }
  .ingen-tilgang-info-container .ingen-tilgang .ingen-tilgang-header__ikon {
    margin: 0 0.7rem 0 0;
  }
  .ingen-tilgang-info-container .ingen-tilgang .ingen-tilgang-header__overskrift {
    width: 27rem;
  }
}
