.mine-ansatte__header {
  margin-bottom: 1.5rem;
}
.mine-ansatte__header .excel-export {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
.mine-ansatte__header .informasjon .ny-fane-ikon {
  margin-top: 0.3rem;
}
.mine-ansatte__sok-og-filter .arbeidsforhold-overskrift {
  margin-bottom: 1rem;
}
.mine-ansatte__topp {
  margin-bottom: 0.5rem;
}
.mine-ansatte__topp .antall-forhold {
  margin: 0 0.6rem 1rem 0.5rem;
}
.mine-ansatte__bytt-filtrering {
  display: flex;
  align-self: center;
  margin: 4rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 5rem;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .mine-ansatte__topp {
    display: flex;
    justify-content: space-between;
  }
  .mine-ansatte__topp .antall-forhold {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .mine-ansatte__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mine-ansatte__header .excel-export {
    margin-bottom: 0;
    margin-top: 0;
  }
  .mine-ansatte__header .informasjon {
    width: 37rem;
  }
  .mine-ansatte__sok-og-filter {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
}
