@import '../../../../node_modules/nav-frontend-core/less/_variabler';

.enkelt-arbeidsforhold {
  background-color: white;
  margin: 0rem 5rem 0rem 5rem;
  padding: 1.5rem;
  border-radius: 4px;
}

@media (max-width: @screen-md) {
  .enkelt-arbeidsforhold {
    margin: 3rem;
  }
}


@media (max-width: @screen-sm) {
  .enkelt-arbeidsforhold {
    margin: 0;
  }
}