.enkelt-arbeidsforhold-container {
  padding: 0;
  margin: 0;
}
@media (min-width: 992px) {
  .enkelt-arbeidsforhold-container .enkelt-arbeidsforhold-innhold {
    max-width: 57rem;
    margin: 0 auto;
    border-radius: 4px;
  }
}
.enkelt-arbeidsforhold-container .enkelt-arbeidsforhold-innhold__topp {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 450px) {
  .enkelt-arbeidsforhold-container .enkelt-arbeidsforhold-innhold__topp {
    flex-direction: column;
    justify-content: space-around;
  }
}
.enkelt-arbeidsforhold-container .enkelt-arbeidsforhold-innhold__fram-tilbake-knapp {
  display: flex;
  justify-content: space-between;
}
.enkelt-arbeidsforhold-container .enkelt-arbeidsforhold-innhold .brodsmule {
  margin: 1rem 1.5rem;
  color: #0067c5;
  background: none;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
}
.enkelt-arbeidsforhold-container .enkelt-arbeidsforhold-innhold .brodsmule:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .enkelt-arbeidsforhold-container .enkelt-arbeidsforhold-innhold .brodsmule {
    margin: 2rem;
  }
}
@media (min-width: 992px) {
  .enkelt-arbeidsforhold-container .enkelt-arbeidsforhold-innhold .brodsmule {
    margin: 1.5rem 0;
  }
}
.enkelt-arbeidsforhold-container .enkelt-arbeidsforhold-innhold .enkelt-arbeidsforhold {
  background-color: white;
  margin: 0;
  padding: 1.5rem 1.5rem 5rem;
}
@media (min-width: 768px) {
  .enkelt-arbeidsforhold-container .enkelt-arbeidsforhold-innhold .enkelt-arbeidsforhold {
    padding: 2rem 2rem 6rem;
  }
}
@media (min-width: 992px) {
  .enkelt-arbeidsforhold-container .enkelt-arbeidsforhold-innhold .enkelt-arbeidsforhold {
    padding: 2rem 2rem 3rem;
  }
}
