.mine-ansatte .selectContainer select {
  padding: 1rem;
}
.mine-ansatte__velg-tidligere-virksomhet {
  border: 2px black;
  margin-bottom: 1.5rem;
  max-width: 25rem;
}
.mine-ansatte .underenhet-ikon {
  margin-right: 0.5rem;
}
.mine-ansatte__velg-tidligere-virksomhet-label {
  display: flex;
  align-items: center;
}
